<h2>Artists <a href="/artists/new">(+)</a></h2>
<h3>Last viewed artist: <%= @artist["name"] %></h3>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <a href="/artists/<%= artist.id %>">
        <%= artist.name %>
      </a>
    </li>
  <% end %>
</ul>
