<h2>Artists <a href="/artists/new">(+)</a></h2>

<form action="/artists/sort" method="get">
  <label>Sort By</label>
  <input type="text" name="sort_by">
  <input type="submit" value="sort">
</form>
Sorting by: <%= session[:sort_by] %>
<% if @last_viewed_artist %>
  <h3>Last viewed artist: <%= @last_viewed_artist.name %></h3>
<% end %>

<h2>Artists</h2>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <a href="/artists/<%= artist.id %>">
        <%= artist.name %>
      </a>
    </li>
  <% end %>
</ul>
